*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: #eeeeee;
}

.flipbook .hard {
    background: #f7eacb !important;
    color: #fff;
    font-weight: bold;
    border: none;
}

.hard.page img{
	width: 100%;
	//height: 100%;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page-padding {
    padding: 5vh 4vw;
}

.page img{
	width: 60%;
	object-fit: cover;
	margin: auto;
	border-radius: 10px;
}

.flipbook .page large{
    display: inline-block;
	font-size: 200%;
}

.flipbook .page small{
    display: inline-block;
	font-size: 75%;
}